html {
font-family: Helvetica;
}

.banner,
.details {
  text-align: center;
}

h3 {
  font-size: 23px;
  font-weight: bold;
}

.banner,
.where {
  background-image: url("../images/the-flatiron-building.png");
  background-size: 100% 100%;
  color:white;
}

.banner h1 {
  font-size: 70px;
  font-weight: bold;
  color: white;
  }

a {
  font-size: 18px;
  color: white;
}

.details h2 {
  font-size: 32px;
  font-weight: bold;
}


.details p {
  font-size: 14px;
}

.footer {
  text-align: left;
  background-color: dimgray;
  color: white;
}

.footer p {
  font-size: 11px;
}
